database.useLocalDb=true

# Local

database.localDbURI=jdbc:mysql://localhost:3306/empleados
database.localUsername=username
database.localPassword=password

# Remote

database.remoteDbURI=jdbc:mysql://...
database.remoteUsername=username
database.remotePassword=password

# Email service

emailservice.senderEmail=email@gmail.com
emailservice.senderPassword=password123