
header h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}


.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  background-color: #f5f5f5; 
}


.business-container {
  margin: 10px;
  text-align: center;
}

.business {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  width: 250px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.business:hover {
  transform: scale(1.05); 
}

.business h2 {
  font-size: 24px;
}

.business p {
  font-size: 16px;
  color: #555; 
}


span {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  color: #555;
}


